.sidebar {
  display: flex;
  flex-flow: row;
}

.sidebar__title {
  font-family: "CabinetGrotesk-Medium", "Inter", sans-serif;
  font-size: 20px;
  margin: 0;
  align-self: center;
}
.sidebar__avatar {
  width: 56px;
  height: 56px;
  padding-right: 16px;
  align-self: center;
}
