.switch__box {
  display: flex;
  border-radius: 20px;
  appearance: none;
  cursor: pointer;
  border: 2px solid #7e7e7e;
  width: 40px;
  height: 20px;
  outline: none;
}

.switch__slider {
  position: absolute;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 385.3px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.switch__slider::after {
  right: 24px;
}

.switch__temp-F {
  position: absolute;
  top: -13.5px;
  left: 6px;
  z-index: 100;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.switch__temp-C {
  position: absolute;
  top: -11px;
  left: 23px;
  z-index: 100;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

.switch_active {
  z-index: 100;
  color: #fff;
}
