.weather {
  position: relative;
}

.weather__info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 16px;
  z-index: 1;

  font-family: "CabinetGrotesk-Medium", "Inter", sans-serif;
  font-size: 36px;
  color: white;
}

.weather__image {
  display: block;
  width: 100%;
  height: auto;
}

.weather__message {
  font-family: "CabinetGrotesk-Bold", "Inter", sans-serif;
  font-size: 25px;
}
