.formModal__title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 24px;
}

.formModal__title:nth-last-child(2) {
  margin-top: 24px;
  margin-bottom: 14px;
}

.formModal__fieldset {
  border: none;
  margin: 0;
  padding: 0px;
}

#radio-button-fieldset {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formModal__caption {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: "CabinetGrotesk-Bold", "Inter", sans-serif;
}

.formModal__caption:nth-last-child(2) {
  margin-top: 24px;
}

.formModal__input {
  border: none;
  outline: none;
  border-bottom: solid #000 1px;
  width: 436px;
  padding-bottom: 4px;
  padding-left: 0;
  cursor: text;
  font-family: "CabinetGrotesk-Medium", "Inter", sans-serif;
  font-size: 16px;
}

.formModal__input[type="radio"] {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.formModal__label {
  display: block;
  right: 5px;
  font-size: 16px;
}
