.modal {
  display: flex;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal_opened {
  visibility: visible;
}

.modal_closed {
  visibility: hidden;
}

.modal__closeBtn {
  position: absolute;
  background: none;
  border: none;
  padding: none;
}

#modal-form-close {
  right: 31px;
}

#modal-item-close {
  top: 17px;
  right: 17px;
}
