.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  font-family: "CabinetGrotesk-Medium", "Inter", sans-serif;
  padding: 0 20px;
  /* max-width: 1280px; */
}

.header__container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header__logo {
  display: flex;
  justify-content: center;
  height: 40px;

  align-items: center;
  margin: 0;
  cursor: pointer;
}

.header__name {
  margin-left: 12px;
}

.header__name-link {
  text-decoration: none;
  color: #000;
}

.header__button {
  border: none;
  margin-left: auto;
  background: none;
  height: 25px;
  font-size: 16px;
  font-family: "CabinetGrotesk-Medium", "Inter", sans-serif;
  outline: none;
  cursor: pointer;
}

.header__avatar {
  display: flex;
  margin-left: 12px;
  border-radius: 50%;
  align-items: center;
}

.header__avatar-image {
}
