.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  font-family: "CabinetGrotesk-Regular", "Inter", sans-serif;
  font-weight: normal;
  padding: 0 20px;
}

.header__container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header__logo {
  display: flex;
  justify-content: center;
  height: 40px;

  align-items: center;
  margin: 0;
}

.header__text {
}

.header__name {
  margin-left: 12px;
}

.header__button {
  border: none;
  margin-left: auto;
  background: none;
  height: 25px;
  font-size: 16px;
  font-family: "CabinetGrotesk-Regular", "Inter", sans-serif;
}

.header__avatar {
  display: flex;
  margin-left: 12px;
  border-radius: 50%;
  align-items: center;
}

.header__avatar-image {
}
