.checkbox__box {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  width: 40px;
  height: 20px;
  appearance: none;
  border-radius: 20px;
  border: 2px solid #7e7e7e;
  cursor: pointer; */
  display: flex;
  border-radius: 20px;
  appearance: none;
  cursor: pointer;
  border: 2px solid #7e7e7e;
  width: 40px;
  height: 20px;
  outline: none;
}

.checkbox__slider {
  position: absolute;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 385.3px;
  background-color: #000;
}

.checkbox__slider::after {
  right: 24px;
}
