.checkbox__box {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  width: 40px;
  height: 20px;
  appearance: none;
  border-radius: 20px;
  border: 2px solid #7e7e7e;
  cursor: pointer; */
  display: flex;
  border-radius: 20px;
  appearance: none;
  cursor: pointer;
  border: 2px solid #7e7e7e;
  width: 40px;
  height: 20px;
  outline: none;
}

.checkbox__slider {
  position: absolute;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 385.3px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.checkbox__slider::after {
  right: 24px;
}

.checkbox__temp {
  position: absolute;
  color: white;
}

#checkbox-F {
  top: -13.5px;
  left: 6px;
  z-index: 100;
  font-size: 15px;
}

#checkbox-C {
  top: -11px;
  left: 23px;
  z-index: 100;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

#checkbox-F::after {
  z-index: 100;
  color: rgba(0, 0, 0, 0.5);
}

#checkbox-C::after {
  z-index: 100;
  color: rgba(0, 0, 0, 0.5);
}
