.addItem__title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 24px;
}

.addItem__title:nth-last-child(2) {
  margin-top: 24px;
  margin-bottom: 14px;
}

.addItem__fieldset {
  border: none;
  margin: 0;
  padding: 0px;
}

#radio-button-fieldset {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  gap: 15px;
}

.addItem__caption {
  margin-top: 10px;
  margin-bottom: 8px;
  font-family: "CabinetGrotesk-Bold", "Inter", sans-serif;
}

#add-item-image-caption {
  margin-top: 20px;
}

#weather-type-title {
  margin-top: 20px;
}

.modal__input[type="radio"] {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px 0 0;
}

.addItem__label {
  display: block;
  right: 5px;
  font-size: 16px;
}

.addItem__error {
  width: 328px;
  height: 328px;
  color: rgba(0, 0, 0, 0.6);
}

.addItem__error-text {
  font-size: 20px;
  color: #000;
}
