.header {
  display: flex;

  background-color: aqua;
}

.header__logo {
  border: solid 1px red;
  margin: 0;
}

.header__text {
  border: solid 1px red;
}

.header__name {
  margin-left: auto;
}

.header__button {
  border: solid 1px red;
}

.header__avatar {
  margin-left: auto;
  border: 1px solid red;
  border-radius: 50%;
}

.header__avatar-image {
  border: 1px solid red;
}
