.header {
  display: flex;
  align-items: center;
  background-color: aqua;
  min-height: 60px;
}

.header__logo {
  margin: 0;
}

.header__text {
  font-family: "Cabinet Grotesk", "Inter", sans-serif;
}

.header__name {
  margin-left: 12px;
}

.header__button {
  border: none;
  list-style: none;
  margin-left: auto;
  background: none;
  height: 25px;
}

.header__avatar {
  display: flex;
  margin-left: 12px;
  border-radius: 50%;
}

.header__avatar-image {
}
