.clothes {
  display: flex;
  font-size: 16px;
  gap: 30px;
  margin-top: 16px;
}

.clothes__header {
  font-family: "CabinetGrotesk-Bold", "Inter", sans-serif;
  outline: none;
  border: none;
  background: transparent;
  font-size: 20px;
  margin: 0;
  align-self: center;
  padding: 0;
}

.clothes__button {
  line-height: 25px;
  border: none;
  background: transparent;
  font-family: "CabinetGrotesk-Bold", "Inter", sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  padding: 0;
  cursor: pointer;
}

.clothes__radio {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  border: none;
  padding: 0;
}

.clothes__radio-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "CabinetGrotesk-Bold", "Inter", sans-serif;
  font-size: 20px;
  border: none;
  border-radius: 10%;
  padding: 0 5px;
}

.clothes__button:hover,
.clothes__radio-input:hover,
.clothes__header:hover {
  color: rgba(0, 0, 0, 0.3);
  transform: scale(105%);
}

.clothes__button,
.clothes__radio-input,
.clothes__header {
  transition: 0.15s ease-in-out;
}

#items-button {
  outline: none;
  border: none;
}
