.edit {
  border: none;
  margin: 0;
  padding: 0px;
}

.edit__caption {
  margin-top: 24px;
  margin-bottom: 5px;
}

.edit__register {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  left: 110px;
  bottom: 40px;
}
