.edit {
  border: none;
  margin: 0;
  padding: 0px;
}

.edit__input {
  border: none;
  outline: none;
  border-bottom: solid #000 1px;
  width: 436px;
  padding-bottom: 4px;
  padding-left: 0;
  cursor: text;
  font-family: "CabinetGrotesk-Medium", "Inter", sans-serif;
  font-size: 16px;
}

.edit__caption {
  margin-top: 24px;
  margin-bottom: 5px;
}

.edit__register {
  display: flex;
  position: absolute;
  left: 110px;
  bottom: 40px;
}
