.header {
  min-height: 60px;
  font-family: "CabinetGrotesk-Medium", "Inter", sans-serif;
}

.header__text {
  font-family: "CabinetGrotesk-Medium", "Inter", sans-serif;
}

.header__container {
  display: -webkit-grid;
  display: grid;
  grid-template-columns: auto 1fr auto auto auto auto auto;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 10px 20px;
  gap: 1rem;
  box-sizing: border-box;
}

.header__logo {
  margin: 0;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.header__logo:hover {
  transform: scale(120%);
}

.header__name {
  transition: 0.15s ease-in-out;
}

.header__name:hover {
  transform: scale(105%);
  color: rgba(0, 0, 0, 0.6);
}

.header__link {
  text-decoration: none;
  justify-self: center;
  color: #000;
}

.header__button {
  border: none;
  background: none;
  height: 25px;
  font-size: 16px;
  font-family: "CabinetGrotesk-Medium", "Inter", sans-serif;
  outline: none;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  padding: 0;
}

.header__button:hover {
  color: rgba(0, 0, 0, 0.6);
  transform: scale(105%);
}

.header__avatar {
  display: -webkit-flex;
  display: flex;
  margin-left: 12px;
  border-radius: 50%;
  -webkit-align-items: center;
  align-items: center;
  transition: 0.15s ease-in-out;
  margin: 0;
}

.header__avatar-image {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-justify-content: center;
  justify-content: center;
  object-fit: cover;
}

.header__avatar:hover {
  transform: scale(120%);
}

.header__avatar-placeholder-container {
  width: 20px;
  height: 20px;
  border: solid 1px #000;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: rgb(18, 96, 152);
  border-radius: 50%;
  -webkit-align-items: center;
  align-items: center;
}

.header__avatar-placeholder-letter {
  color: #fff;
  margin: 0;
}

#currentDate {
  font-size: 15px;
  width: 100px;
}

@media screen and (max-width: 700px) {
  .header__container {
    gap: 10px;
  }

  .header__name {
    font-size: 12px;
    text-align: center;
  }

  .header__button {
    font-size: 12px;
  }

  #currentDate {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: none;
  }

  .header__container {
    gap: 10px;
  }

  .header__name {
    font-size: 10px;
    text-align: center;
  }

  .header__button {
    font-size: 10px;
  }

  .header__logo-image {
    width: 50px;
  }

  #currentDate {
    font-size: 10px;
    -webkit-justify-self: center;
    justify-self: center;
    width: 60px;
  }
}

@media screen and (max-width: 400px) {
  .header {
    padding: none;
  }

  .header__container {
    gap: 5px;
    padding: none;
  }

  .header__name {
    visibility: hidden;
  }

  .header__button {
    font-size: 10px;
  }

  .header__avatar {
    margin-left: 15px;
  }

  #currentDate {
    font-size: 10px;
    text-align: center;
  }

  .header__logo-image {
    width: 50px;
  }
}
