.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  font-family: "CabinetGrotesk-Medium", "Inter", sans-serif;
  padding: 0 20px;
}

.header__container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header__logo {
  display: flex;
  justify-content: center;
  height: 40px;

  align-items: center;
  margin: 0;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.header__logo:hover {
  transform: scale(120%);
}

.header__name {
  margin-left: 12px;
  transition: 0.15s ease-in-out;
}

.header__name:hover {
  transform: scale(105%);
  color: rgba(0, 0, 0, 0.6);
}

.header__link {
  text-decoration: none;
  color: #000;
}

.header__button {
  border: none;
  margin-left: auto;
  background: none;
  height: 25px;
  font-size: 16px;
  font-family: "Cabinetrotesk-Medium", "Inter", sans-serif;
  outline: none;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.header__button:hover {
  color: rgba(0, 0, 0, 0.6);
  transform: scale(105%);
}

.header__avatar {
  display: flex;
  margin-left: 12px;
  border-radius: 50%;
  align-items: center;
  transition: 0.15s ease-in-out;
}

.header__avatar:hover {
  transform: scale(120%);
}

.header__avatar-placeholder-container {
  width: 20px;
  height: 20px;
  border: solid 1px #000;
  display: flex;
  justify-content: center;
  background-color: rgb(18, 96, 152);
  border-radius: 50%;
  align-items: center;
}

.header__avatar-placeholder-letter {
  color: #fff;
  margin: 0;
}
