.cards__list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;
  gap: 13px;
}

.cards__el {
  position: relative;
  cursor: pointer;
  transition: 0.15s ease-in;
}

.cards__el:hover {
  transform: scale(103%);
}

.cards__caption {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.cards__name {
  border-radius: 4px;
  z-index: 1;
  font-family: "CabinetGrotesk-Medium", "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
  font-size: 1em;
  text-overflow: ellipsis;
}

.cards__image {
  width: 12em;
  height: 12em;
  border-radius: 3%;
  border: solid 1px rgba(0, 0, 0, 0.3);
  padding: none;
  object-fit: scale-down;
}

.cards__image-error {
  width: 326px;
  height: 326px;
  border-radius: 3%;
  border: solid 1px rgba(255, 0, 0, 0.3);
  padding: none;
}

.cards__button {
  box-sizing: border-box;
  border: none;
  padding: 0px;
  cursor: pointer;
  background: transparent;
  transition: 0.2s ease;
}

.cards__button:hover {
  transform: scale(110%);
}

.cards__like-image {
  padding: none;
  width: 18px;
  height: 15px;
}

.cards__error-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 45%;
  margin: 0;
  font-family: CabinetGrotesk-Bold, "inter", sans-serif;
  font-size: 30px;
}

@media screen and (max-width: 700px) {
  .cards__list {
    /* overflow: scroll; */
    gap: 2px;
  }

  .cards__image {
    width: 90px;
    height: 90px;
  }

  .cards__name {
    font-size: smaller;
  }

  .cards__like-image {
    width: 10px;
    height: 10px;
  }
}

@media screen and (max-width: 400px) {
  .cards__image {
    width: 60px;
    height: 60px;
  }
}
