.login {
  border: none;
  margin: 0;
  padding: 0px;
}

.login__title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 24px;
}

.login__input {
  border: none;
  outline: none;
  border-bottom: solid #000 1px;
  width: 436px;
  padding-bottom: 4px;
  padding-left: 0;
  cursor: text;
  font-family: "CabinetGrotesk-Medium", "Inter", sans-serif;
  font-size: 16px;
}

.valid {
  color: black;
  border-bottom: solid #000 1px;
}

.error {
  color: red;
  border-bottom: solid red 1px;
}

.login__caption {
  margin-top: 14px;
  margin-bottom: 8px;
}

.login__register {
  display: flex;
  position: absolute;
  left: 110px;
  bottom: 25px;
}

.login__caption:nth-child(1) {
  margin-top: 20px;
}

.login__register-button {
  margin: 0;
  font-size: 16px;
  font-family: "CabinetGrotesk-Bold", "Inter", sans-serif;
  background: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.5);
}

.login__register-button:hover {
  color: #000;
  transition: ease 0.2s;
}

.login__register-button:disabled {
  color: rgba(0, 0, 0, 0.3);
}
