@keyframes modalExpand {
  0% {
    transform: scale(10%);
  }
  100% {
    transform: scale(100%);
  }
}

.modal {
  display: flex;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  font-family: "CabinetGrotesk-Medium", "Inter", sans-serif;
  transition: 0.3s ease-in;
}

.modal__form {
  position: relative;
  box-sizing: border-box;
  padding: 22px 0 36px 28px;

  background-color: #fff;
  border-radius: 4%;
}

.modal__form_add-item {
  width: 496px;
  height: 436px;
  padding: 22px 0 36px 28px;
}

.modal__form_login {
  width: 496px;
  height: 304px;
  padding: 28px 28px;
}

.modal_opened {
  visibility: visible;
  animation: modalExpand 0.15s ease;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal_closed {
  visibility: hidden;
}

.modal__closeBtn {
  position: absolute;
  background: none;
  border: none;
  padding: none;
  cursor: pointer;
}

.modal__submit {
  width: 124px;
  height: 36px;
  margin-top: 20px;
  margin-bottom: 12px;

  border: none;
  border-radius: 4px;
  background-color: #000;
  color: white;
  cursor: pointer;
}

.modal__submit_login {
  margin-top: 25px;
}

.modal__submit:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__submit:disabled {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__title {
  font-weight: 700;
  font-size: 16px;
}

.modal__title_add-item {
  margin-bottom: 24px;
}

.modal__title_login {
  margin-bottom: 0;
}

#clothes-form-close {
  right: 31px;
}

#modal-item-close {
  top: 17px;
  right: 17px;
}

#modal-item-confirm-close {
  top: 17px;
  right: 12px;
}
