@keyframes modalExpand {
  from {
    transform: scale(10%);
  }
  to {
    transform: scale(100%);
  }
}

@keyframes fadeOut {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.modal {
  display: flex;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  font-family: "CabinetGrotesk-Medium", "Inter", sans-serif;
  transition: 0.3s ease;
}

.modal__input {
  border: none;
  outline: none;
  border-bottom: solid #000 1px;
  width: 436px;
  padding-bottom: 4px;
  padding-left: 0;
  cursor: text;
  font-family: "CabinetGrotesk-Medium", "Inter", sans-serif;
  font-size: 16px;
}

.modal__input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  outline: none;
  margin: 0;
  width: 0;
}

#clothes-hot:checked {
  background-color: rgb(185, 58, 58);
}

#clothes-warm:checked {
  background-color: rgb(113, 190, 58);
}

#clothes-cold:checked {
  background-color: rgb(46, 114, 165);
}

.modal__form {
  position: relative;
  box-sizing: border-box;
  padding: 22px 0 36px 28px;

  background-color: #fff;
  border-radius: 4%;
}

.modal__form_add-item {
  width: 496px;
  height: 436px;
  padding: 25px;
  box-sizing: border-box;
}

.modal__form_edit-profile {
  width: 496px;
  height: 304px;
  padding: 28px 28px;
}

.modal__form_login {
  width: 496px;
  height: 295px;
  padding: 28px 28px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.modal__form_register {
  width: 496px;
  height: 456px;
  padding: 28px 28px;
}

.modal_opened {
  visibility: visible;
  animation: modalExpand 0.15s ease;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal_closed {
  visibility: hidden;
  animation: fadeOut 0.3s ease;
}

.modal__closeBtn {
  position: absolute;
  background: none;
  border: none;
  padding: none;
  cursor: pointer;
  right: 20px;
  top: 20px;
}

.modal__submit {
  margin-top: 20px;
  margin-bottom: 12px;

  font-family: "CabinetGrotesk-Medium", "Inter", sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #000;
  color: white;
  cursor: pointer;
}

.modal__submit_add-item {
  width: 124px;
  height: 36px;
  margin: 20px 0 0 0;
}

.modal__submit_login {
  width: 73px;
  height: 36px;
  position: absolute;
  bottom: 5px;
}

.modal__submit_register {
  margin-top: 25px;
  width: 73px;
  height: 36px;
}

.modal__submit:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transition: ease 0.2s;
}

.modal__submit:disabled {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__title {
  font-weight: 700;
  font-size: 16px;
}

.modal__title_add-item {
  margin-bottom: 10px;
}

.modal__title_login {
  margin: 0;
}

.modal__title_register {
  margin-bottom: 0;
}

.modal__title_edit-profile {
  margin-bottom: 0px;
}

.modal__submit_edit-profile {
  margin-top: 32px;
  width: 128px;
  height: 36px;
}

#modal-item-close {
  top: 17px;
  right: 17px;
}

#modal-item-confirm-close {
  top: 17px;
  right: 12px;
}

.hidden {
  visibility: hidden;
}

.valid {
  color: black;
  border-bottom: solid #000 1px;
}

.error {
  color: red;
  border-bottom: solid red 1px;
}

.error-message {
  text-overflow: ellipsis;
  color: red;
  font-size: 10px;
  line-height: 10px;
  position: absolute;
  margin: 5px 0 10px 0;
}

.error-message__name-add-item {
  position: absolute;
}
