.register {
  border: none;
  margin: 0;
  padding: 0px;
}

.register__title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 24px;
}

.valid {
  color: black;
  border-bottom: solid #000 1px;
}

.error {
  color: red;
  border-bottom: solid red 1px;
}

.register__caption {
  margin-top: 24px;
  margin-bottom: 8px;
}

.register__login {
  display: flex;
  position: absolute;
  left: 110px;
  bottom: 40px;
}

.register__login-button {
  margin: 0;
  padding: 0 0 0 5px;

  font-size: 16px;
  font-family: "CabinetGrotesk-Bold", "Inter", sans-serif;
  background: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.5);
}

.register__login-button:hover {
  color: rgb(0, 0, 0);
  transition: ease 0.2s;
}

.register__login-button:disabled {
  color: rgba(0, 0, 0, 0.3);
}
