.sidebar {
  box-sizing: border-box;
}

.sidebar * {
  font-size: 20px;
}

.sidebar__header {
  display: grid;
  grid-template-columns: 58px 1fr;
  gap: 16px;
}

.sidebar__name {
  font-family: "CabinetGrotesk-Medium", "Inter", sans-serif;
  margin: 0;
  align-self: center;
  white-space: nowrap;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  align-self: center;
  transition: 0.15s ease;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar__avatar:hover {
  transform: scale(120%);
}

.sidebar__avatar-placeholder-container {
  width: 58px;
  height: 58px;
  border: solid 1px #000;
  display: flex;
  justify-content: center;
  background-color: rgb(18, 96, 152);
  border-radius: 50%;
  align-items: center;
  box-sizing: border-box;
}

.sidebar__avatar-placeholder-letter {
  color: #fff;
  margin: 0;
  font-size: 29px;
  font-family: CabinetGrotesk-Medium, "Inter", sans-serif;
}

.sidebar__button {
  display: flex;
  flex-direction: column;
  background: transparent;
  border: none;
  font-family: "CabinetGrotesk-Bold", "Inter", sans-serif;
  margin-top: 8px;
  transition: 0.2s ease;
}

.sidebar__button:nth-child(2) {
  margin-top: 24px;
}

.sidebar__button:hover {
  color: rgba(0, 0, 0, 0.3);
  transform: scale(105%);
}

@media screen and (max-width: 1000px) {
  .sidebar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
  }

  .sidebar * {
    font-size: 12px;
  }

  .sidebar__avatar-placeholder-letter {
    font-size: 1.5rem;
  }

  .sidebar__avatar-placeholder-container {
    width: 40px;
    height: 40px;
  }

  .sidebar__button {
    padding: 0;
    margin: 0;
  }

  .sidebar__header {
    justify-self: center;
    gap: 0;
  }

  .sidebar__button:nth-child(2) {
    margin: 0;
  }
}
