.switch__box {
  display: flex;
  border-radius: 20px;
  appearance: none;
  cursor: pointer;
  border: 2px solid #7e7e7e;
  width: 40px;
  height: 20px;
  outline: none;
  position: relative;
  top: 10px;
}

.switch__buttons {
  position: relative;
  display: flex;
}

.switch__slider-F {
  position: absolute;
  margin-left: auto;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  top: 13px;
  right: 40px;
  background-color: #000;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.switch__slider-C {
  position: absolute;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  top: 13px;
  right: 20px;
  background-color: #000;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.switch__slider::after {
  right: 24px;
}

.switch__temp-F {
  position: relative;

  top: 3px;
  right: 36px;
  z-index: 100;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

.switch__temp-C {
  position: relative;
  top: 3px;
  right: 27px;
  z-index: 100;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

.switch_active_F {
  z-index: 100;
  color: #fff;
  top: 0px;
  right: 37px;
  font-size: 15px;
}

.switch_active_C {
  z-index: 100;
  color: #fff;
  top: 0px;
  right: 25px;
  font-size: 15px;
}
