.footer {
  display: flex;
  position: relative;
  bottom: -40vh;
  margin: 0 20px;

  font-family: "CabinetGrotesk-Medium", "Inter", sans-serif;
  color: #000;
}

.footer__author {
  align-self: center;
}

.footer__year {
  margin-left: auto;
}
